.Navbar {
  background-color: var(--grey);
  display: flex;
  height: calc(var(--navbar-height) - 2rem);
  justify-content: space-between;
  padding: 1rem var(--app-padding);
  position: fixed;
  top: 0;
  width: calc(100vw - var(--app-padding) * 2);
  z-index: 1;

  & .LogoButton {
    & .Logo {
      border-radius: 0.5rem;
    }
  }

  & .RightSection {
    align-items: center;
    display: flex;
    & .Links {
      margin-right: 4rem;
      & > :not(:last-child) {
        margin-right: 1.5rem;
      }

      & .Link {
        color: var(--light-grey);
        font-size: 1rem;
        padding: 1rem 0;
        &.isActive {
          border-bottom: solid 2px var(--blue);
          color: var(--blue);
        }
      }
    }

    & .SearchContainer {
      display: flex;
      & .SearchIcon {
        fill: var(--light-blue);
        height: 15px;
        margin-right: 0.5rem;
      }

      & .Search {
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  @media only screen and (max-width: 992px) {
    display: none;
  }
}
