.Button {
  background: transparent;
  border: solid 1px var(--dim-grey);
  color: var(--dim-grey);
  cursor: pointer;
  padding: 5px;
  width: 100%;

  &:focus {
    outline: none;
  }

  & .Icon {
    height: 10px;
    margin-right: 5px;
  }
}

.NoStyleButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
