.Button {
  align-items: center;
  background: transparent;
  border: solid 1px var(--border-grey);
  color: var(--dim-grey);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;

  &:focus {
    outline: none;
  }

  & .Icon {
    fill: var(--dim-grey);
    margin-right: 0.2rem;
    width: 12px;
  }
}

.NoStyleButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
