:root {
  // colors
  --blue: #334d88;
  --light-grey: #838383;
  --dim-grey: #b2b2b2;
  --light-blue: #6e80a9;
  --grey: #f9fafb;

  // padding
  --app-padding: 260px;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}
