.Section {
  color: var(--dim-grey);
  display: flex;
  flex-direction: column;
  font-size: 1rem;

  &.isActive {
    color: #000;
  }
}

.SectionWithSub {
  color: var(--dim-grey);

  & .SectionHeader {
    align-items: center;
    color: var(--dim-grey);
    display: flex;
    font-size: 1rem;

    & .Label {
      margin-right: 0.8rem;
    }

    & .ArrowContainer {
      & .ArrowIcon {
        fill: var(--dim-grey);
        width: 15px;
        &.isActive {
          fill: #000;
        }
      }
    }

    &.isActive {
      color: #000;
    }
  }

  & .SubSections {
    margin-left: 1rem;
    margin-top: 0.5rem;

    & > :not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
