.Post {
  display: flex;
  flex-direction: column;

  & .Category {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  & .Title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  & .Content {
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  & .ImagesContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 328px);
    margin-bottom: 2rem;
  }

  @media only screen and (max-width: 992px) {
    & .ImagesContainer {
      display: flex;
      flex-direction: column;
    }
  }
}
